{% extends "layout.html" %}

{% block title %}Last 25 URLs{% endblock %}

{% block body %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Long URL</th>
                <th>Created</th>
                <th>Short URL</th>
                <th>Clicks</th>
            </tr>
        </thead>
        <tbody>
            {% for url in urls %}
                <tr>
                    <td>
                        <a href="{{ url.url }}">{{ url.url }}</a>
                    </td>
                    <td>
                        {{ url.created.strftime('%B %d, %Y') }}
                    </td>
                    <td>
                        <a href="{{ url_for('bounce', code=url.code) }}">{{ url_for('bounce', code=url.code, _external=True )|strip_www|strip_scheme }}</a>
                    </td>
                    <td>
                        {{ url.clicks }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4" style="text-align: center">
                        No URLs found
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
